@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
* {
	font-family: 'Nanum Gothic';
}
h5 {
	font-family: 'Nanum Gothic';
	font-size: 15px;
	font-weight: bold;
}
h4 {
	font-family: 'Nanum Gothic';
}
h3 {
	font-family: 'Hanna';
}
h2 {
	font-family: 'Hanna';
}
h {
	font-family: 'Hanna';
}

/* 테이블 관련 디자인 */
thead th {
	background-color: black;
	color: white;
	text-align: center;
}
tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}