@import "reset.css";
body {
	background-color: #f6f9fc;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.canvas {
	width: 700px;
	height: 700px;
	margin: 30px 0px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 30px;
	background-color: white;
}

.controls {
	text-align: center;
}

.color {
	height: 50px;
	width: 50px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 25px;
}

.colors {
	display: flex;
}

.controls,
.colors {
	margin-top: 50px;
}

.color {
	margin-bottom: 30px;
}